<style>
	.title-text-tools {
		background-image: url({{fields.background.url}});
        background-repeat: no-repeat;
        background-size: cover;
        
	}
</style>
<div class="title-text-tools">
    <p class="title-text-tools__text">{{fields.maintextone}}</p>
    <p class="title-text-tools__text">{{fields.maintexttwo}}</p>
</div>