<div class="strattic-need-help">
    <h2 class="strattic-need-help__main-text">Still Need Help?</h2>
    <p class="strattic-need-help__small-text">Head over to our <a href="#" class="strattic-need-help__link">help center</a> or look over the <a href="#" class="strattic-need-help__link">pricing FAQ</a></A>. </p>
</div>