{% extends "layouts/base/base.twig" %}

{% block content %}
    {% for post in posts %}

        <div class="hero" style="width: 100%; height: 600px; background-color: #065465">

        </div>

        <div>index8</div>
    {% endfor %}
{% endblock %}