<html>
{% block head %}
{% include 'partials/head.twig' %}
{% endblock %}


<body class="{{body_class}}" data-template="base.twig">
    {% block content %}
    {% endblock %}
    {{ function('wp_footer') }}
  </main>
</body>

</html>
