<style>
	.welcome-strattic__container {
		background-image: url({{fields.background.url}});
        background-repeat: no-repeat;
        background-size: cover;
	}
</style>
<div class="welcome-strattic">
    <div class="welcome-strattic__container">
        <h1 class="welcome-strattic__maintext">{{fields.maintext}}</h1>
        <div class="welcome-strattic__smalltext">{{fields.smalltext}}</div>
    </div>
    <div class="welcome-strattic__container-video">
    <iframe class="welcome-strattic__video" width="1360" height="808" src="https://www.youtube.com/embed/yhNFMHvp81c" title="Strattic: static and headless WordPress hosting. In one click." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>