<style>
  .m-button-login{
    color: #fff
  }
</style>
<div class="m-HeaderPrimary">
  <div class="m-HeaderPrimary__container">
    <div class="m-HeaderPrimary__container-left">
      <a href="http://localhost/Strattic/">
        <img class="m-HeaderPrimary__logo" src="{{theme.link}}/static/img/logo.svg" alt="logo" />
      </a>
      {# <a class="m-HeaderPrimary__menu-button">Hello</a> #}
      <div class="m-HeaderPrimary__rectangle"></div>
      {# <div class="m-HeaderPrimary__menu-button-container"><img class="m-HeaderPrimary__menu-button" src="{{theme.link}}/static/img/menu-4 1.svg" alt="menu"/></div> #}
      <ul class="m-HeaderPrimary__menu -desktop">
      {% for item in nav.primary.items %}
          <li class="m-HeaderPrimary__item">
              {% if item.children %}
                  {% include "modules/Button/Button.module.twig" with {
                      type: "link",
                      color: "white",
                      link: item.link,
                      text: item.title,
                      drop: true
                  }%}
                  <ul class="m-HeaderPrimary__drop">
                      {% for child in item.children %}
                          <li class="m-HeaderPrimary__childItem">
                              {% include "modules/Button/Button.module.twig" with {
                                  type: "link",
                                  color: "black",
                                  link: child.link,
                                  text: child.title
                              }%}
                          </li>
                      {% endfor %}
                  </ul>
              {% else %}
                  {% include "modules/Button/Button.module.twig" with {
                      type: "link",
                      color: "white",
                      link: item.link,
                      text: item.title
                  }%}
              {% endif %}
          </li>
      {% endfor %}
    </ul>
    </div>
    <div class="m-HeaderPrimary__container-right">
      <a class="m-HeaderPrimary__link m-Button-login" href="#">Login</a>
      <a class="m-HeaderPrimary__link--red" href="#">Get started</a>
      <div class="m-HeaderPrimary__menu--mobile">
        {% include "modules/BurgerMenu/BurgerMenu.module.twig" with {
          stickColor: "white"
        }%}
      </div>
    </div>
  </div>
</div>
