<style>
	.main-text__container {
		background-image: url({{fields.background.url}});
        background-repeat: no-repeat;
        background-size: cover;
	}
</style>
<div class="main-text">
    <div class="main-text__container">
        <h1 class="main-text__maintext">{{fields.maintext}}</h1>
        <div class="main-text__smalltext">{{fields.smalltext}}</div>
    </div>
</div>