<div class="m-ScrollTop">
  <picture>
    <source srcset="{{theme.link}}/static/img/scroll-top.svg" media="(min-width: 480px)" >
    <source srcset="{{theme.link}}/static/img/scroll-top-m.svg">
    <img class="m-ScrollTop__img"  src="{{theme.link}}/static/img/scroll-top.svg" alt=""/>
  </picture>
</div>
