{# <footer>
	<div class="footer">
		<form method="post">
			<div class="form-container">
				<div class="form-container__left">Sign up to our Newsletter</div>
				<div class="form-container__right">
					<input type="email" placeholder="Your email">
					<input type="submit" value="Sign up">
				</div>
			</div>
		</form>
	</div>
</footer>
 #}
