<style>
	.helpcenter-search {
		background-image: url({{fields.background.url}});
        background-repeat: no-repeat;
        background-size: cover;
        
	}
</style>
<div class="helpcenter-search">
    <div class="helpcenter-search__container">
        <h1 class="helpcenter-search__maintext">{{fields.title}}</h1>
    </div>
    <div class="helpcenter-search__container-video">
        <form class="helpcenter-search__form-container">
            <input class="helpcenter-search__text" type="text" placeholder="Search for What you need">
            <input class="helpcenter-search__button" type="submit" value="Search">
        </form>
    </div>
</div>