<div class="help-center-article">
    <h3 class="help-center-article__title-text">{{fields.text}}</h3>
    <div class="help-center-article__container">
        <div class="help-center-article__container-small">
            <img src="{{fields.imageone}}">
            <div class="help-center-article__container-small-text">Yes</div>
        </div>
        <div class="help-center-article__container-small">
            <img src="{{fields.imagetwo}}">
            <div class="help-center-article__container-small-text">No</div>
        </div>
    </div>
</div>