<style>
	.banner-container {
		background-image: url({{fields.infobgc.url}});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
}
</style>
<div class="main-banner-container">
    <div class="banner-container">
        {# <div class="banner-container__small"> #}
            <div class="banner-container__main-text">{{fields.infobanertext}}</div>
            <div class="banner-container__button-container"><a class="banner-container__button">{{fields.infobuttontext}}</a></div>
        {# </div> #}
    </div>
</div>